<h2>Mission</h2>
<p>This website was created with the mission to visualize current humanitarian crisis worldwide and global news. Generally speaking: For spreading awareness. It is a personal project and maintained in my free time. Please consider donating, since I finance the server, domain etc. out of my own pockets.</p>

<h2>Sources of Information</h2>
<ul>
    <li><a href="https://reliefweb.int">ReliefWeb</a>: Informing humanitarians worldwide 24/7 — a service provided by UN OCHA</li>
    <li><a href=https://uhri.ohchr.org/en/>UHRI</a>: UNIVERSAL HUMAN RIGHTS INDEX - Human Rights Recommendations</li>
    <li><a href="https://www.ipsnews.net/">IPS (Inter Press Service)</a>: News and Views from Global South</li>
</ul>

<h2>Contact</h2>
<p>For any questions, suggestions or feedback, feel free to contact me via <a href="mailto:lars.lars.specht@gmail.com">email</a> or <a href="https://github.com/larsaars/worldcrisismap/issues/new">open a new issue on GitHub</a>.</p>

<h2>Source code</h2>
<p>The source code is available on <a href="https://github.com/larsaars/worldcrisismap">GitHub</a>.</p>

<h2>Attributions</h2>
<p>Thanks to the following free software.</p>
<ul>
    <li><a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></li>
    <li><a href="https://www.maptiler.com/copyright/">MapTiler</a></li>
    <li><a href="https://github.com/maplibre/maplibre-gl-js/blob/main/LICENSE.txt">MapLibre GL JS</a></li>
    <li><a href="https://nodejs.org/en/about/">Node.js</a></li>
    <li><a href="https://expressjs.com">express.js</a></li>
    <li><a href="https://handlebarsjs.com/">Handlebars</a></li>
    <li><a href="https://gadm.org/license.html">GADM</a></li>
    <li><a href="https://jquery.com/">JQuery</a></li>
    <li><a href="https://jqueryui.com/">JQuery UI</a></li>
    <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="https://fontawesome.com/license/free">Font Awesome</a></li>
    <li><a href="https://www.psycopg.org/license/">psycopg2</a></li>
    <li><a href="https://www.postgresql.org/about/">PostgreSQL</a></li>
    <li><a href="https://www.python.org/">Python 3</a></li>
    <li><a href="https://gruntjs.com/">Grunt</a></li>
    <li><a href=https://pypi.org/project/ijson/">ijson</a></li>
</ul>

{{> impressum }}

<script>
    // make links open in new tab except for the home links
    $('a:not(.menu a)').attr('target', '_blank');
</script>
