<h2>Collection of helpful links</h2>
<p>Here you can find a collection of helpful links to other websites and resources. The links for the sources of the articles you can find in the &quot;About&quot; section.</p>

<h2>Links</h2>
<ul>
    <li><a href=https://rsf.org/en/index">RSF Index</a>: Reporters Without Borders press freedom index</li>
    <li><a href="https://www.equaldex.com/">EQUALDEX</a>: LGBTQ+ rights across the world</li>
    <li><a href=https://giwps.georgetown.edu/the-index/">Women Peace and Security Index</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Racism_by_country">Racism by Country on Wikipedia</a></li>
    <li><a href="https://en.wikipedia.org/wiki/List_of_genocides">List of Genocides on Wikipedia</a></li>
</ul>

<script>
    // make links open in new tab except for the home links
    $('a:not(.menu a)').attr('target', '_blank');
</script>
