{{> logged-in-menu }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <img src="img/weathers.png" alt="weather icons" class="img-fluid">
        </div>
        <div class="col-md">
            <h1>Welcome to Weathertop!</h1>
        </div>
    </div>
</div>

{{> footer }}