{{> menu }}

<div class="w3-sidebar w3-bar-block w3-card" id="sidebar">
    <div id="sidebarContent" class="p-3">
        <div class="row sticky-top">
            <div class="col-sm-12">

                <button type="button" class="w3-button w3-large float-end"
                        onclick="closeSideBar()">&times;
                </button>
            </div>
        </div>
        <div id="sidebarText" class="container ps-5 pe-5 pb-5"></div>
    </div>
</div>

<div id="main">
    <div id="map"></div>

    <div id="settings" class="p-2 w3-card">
        <i id="settingsButton" class="fa fa-cog fa-2x" onclick="clickSettingsButton(null)"></i>

        <div id="settingsPanel" class="container p-2">
            <div class="row">
                <div>
                    <label class="switch">
                        <input id="newsCheckbox" type="checkbox">
                        <span class="slider"></span>
                    </label> Reports
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="switch">
                        <input id="disastersCheckbox" type="checkbox">
                        <span class="slider"></span>
                    </label> Disasters
                </div>
            </div>
        </div>
    </div>

    <div id="datePickerDiv" class="p-2 w3-card">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form autocomplete="off">
                        <label for="datePicker">
                            <input type="text" id="datePicker" class="datepicker" placeholder="Pick Date"
                                   name="date"
                                   readonly
                            title="When date is selected, the map will show no current news articles, disasters in the range from three months before selected date till the selected date and reports in the range from three days before selected date till the selected date.">
                        </label>
                    </form>
                </div>
                <div class="col">
                    <!-- remove  timestamp and reload site -->
                    <i id="dateResetButton" class="fa fa-undo fa-2x"
                       onclick="window.location.href = window.location.pathname"
                    title="Reset to today">
                    </i>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="earth"></div>

<div id="cookieBar"></div>

<script>
    // the passed json data from the server
    const disasterData = {{{ disasterData }}};
    const newsData = {{{ newsData }}};
</script>

<script src="/js/utils-main.js"></script>
<script src="/js/main.js"></script>
