<h2>Inequality Worldwide</h2>
<p>The <a href="https://wid.world/" target="_blank">World Inequality Database provides data</a> for almost all countries in the world concerning:
<ul>
    <li>The net worth distribution for the top 1%, top 10% and bottom 50%</li>
    <li>The pre-tax income distribution of the top 1%, top 10% and bottom 50%</li>
    <li>The women's share of the pre-tax income distribution</li>
</ul>
of the respective country.</p>
<h2>Graphs</h2>

<br><h3>Afghanistan</h3>
<img src="/inequality_graphs/afghanistan.png" alt="Afghanistan inequality graph">
<br><h3>Albania</h3>
<img src="/inequality_graphs/albania.png" alt="Albania inequality graph">
<br><h3>Algeria</h3>
<img src="/inequality_graphs/algeria.png" alt="Algeria inequality graph">
<br><h3>Angola</h3>
<img src="/inequality_graphs/angola.png" alt="Angola inequality graph">
<br><h3>Argentina</h3>
<img src="/inequality_graphs/argentina.png" alt="Argentina inequality graph">
<br><h3>Armenia</h3>
<img src="/inequality_graphs/armenia.png" alt="Armenia inequality graph">
<br><h3>Australia</h3>
<img src="/inequality_graphs/australia.png" alt="Australia inequality graph">
<br><h3>Austria</h3>
<img src="/inequality_graphs/austria.png" alt="Austria inequality graph">
<br><h3>Azerbaijan</h3>
<img src="/inequality_graphs/azerbaijan.png" alt="Azerbaijan inequality graph">
<br><h3>Bahamas</h3>
<img src="/inequality_graphs/bahamas.png" alt="Bahamas inequality graph">
<br><h3>Bahrain</h3>
<img src="/inequality_graphs/bahrain.png" alt="Bahrain inequality graph">
<br><h3>Bangladesh</h3>
<img src="/inequality_graphs/bangladesh.png" alt="Bangladesh inequality graph">
<br><h3>Belgium</h3>
<img src="/inequality_graphs/belgium.png" alt="Belgium inequality graph">
<br><h3>Belize</h3>
<img src="/inequality_graphs/belize.png" alt="Belize inequality graph">
<br><h3>Benin</h3>
<img src="/inequality_graphs/benin.png" alt="Benin inequality graph">
<br><h3>Bhutan</h3>
<img src="/inequality_graphs/bhutan.png" alt="Bhutan inequality graph">
<br><h3>Bolivia</h3>
<img src="/inequality_graphs/bolivia.png" alt="Bolivia inequality graph">
<br><h3>Bosnia and Herzegovina</h3>
<img src="/inequality_graphs/bosnia_and_herzegovina.png" alt="Bosnia and Herzegovina inequality graph">
<br><h3>Botswana</h3>
<img src="/inequality_graphs/botswana.png" alt="Botswana inequality graph">
<br><h3>Brazil</h3>
<img src="/inequality_graphs/brazil.png" alt="Brazil inequality graph">
<br><h3>Brunei Darussalam</h3>
<img src="/inequality_graphs/brunei_darussalam.png" alt="Brunei Darussalam inequality graph">
<br><h3>Bulgaria</h3>
<img src="/inequality_graphs/bulgaria.png" alt="Bulgaria inequality graph">
<br><h3>Burkina Faso</h3>
<img src="/inequality_graphs/burkina_faso.png" alt="Burkina Faso inequality graph">
<br><h3>Burundi</h3>
<img src="/inequality_graphs/burundi.png" alt="Burundi inequality graph">
<br><h3>Cabo Verde</h3>
<img src="/inequality_graphs/cabo_verde.png" alt="Cabo Verde inequality graph">
<br><h3>Cambodia</h3>
<img src="/inequality_graphs/cambodia.png" alt="Cambodia inequality graph">
<br><h3>Cameroon</h3>
<img src="/inequality_graphs/cameroon.png" alt="Cameroon inequality graph">
<br><h3>Canada</h3>
<img src="/inequality_graphs/canada.png" alt="Canada inequality graph">
<br><h3>Central African Republic</h3>
<img src="/inequality_graphs/central_african_republic.png" alt="Central African Republic inequality graph">
<br><h3>Chad</h3>
<img src="/inequality_graphs/chad.png" alt="Chad inequality graph">
<br><h3>Chile</h3>
<img src="/inequality_graphs/chile.png" alt="Chile inequality graph">
<br><h3>China</h3>
<img src="/inequality_graphs/china.png" alt="China inequality graph">
<br><h3>Colombia</h3>
<img src="/inequality_graphs/colombia.png" alt="Colombia inequality graph">
<br><h3>Comoros</h3>
<img src="/inequality_graphs/comoros.png" alt="Comoros inequality graph">
<br><h3>Congo</h3>
<img src="/inequality_graphs/congo.png" alt="Congo inequality graph">
<br><h3>Costa Rica</h3>
<img src="/inequality_graphs/costa_rica.png" alt="Costa Rica inequality graph">
<br><h3>Cote d’Ivoire</h3>
<img src="/inequality_graphs/cote_d’ivoire.png" alt="Cote d’Ivoire inequality graph">
<br><h3>Croatia</h3>
<img src="/inequality_graphs/croatia.png" alt="Croatia inequality graph">
<br><h3>Cuba</h3>
<img src="/inequality_graphs/cuba.png" alt="Cuba inequality graph">
<br><h3>Cyprus</h3>
<img src="/inequality_graphs/cyprus.png" alt="Cyprus inequality graph">
<br><h3>Czech Republic</h3>
<img src="/inequality_graphs/czech_republic.png" alt="Czech Republic inequality graph">
<br><h3>DR Congo</h3>
<img src="/inequality_graphs/dr_congo.png" alt="DR Congo inequality graph">
<br><h3>Denmark</h3>
<img src="/inequality_graphs/denmark.png" alt="Denmark inequality graph">
<br><h3>Djibouti</h3>
<img src="/inequality_graphs/djibouti.png" alt="Djibouti inequality graph">
<br><h3>Dominican Republic</h3>
<img src="/inequality_graphs/dominican_republic.png" alt="Dominican Republic inequality graph">
<br><h3>Ecuador</h3>
<img src="/inequality_graphs/ecuador.png" alt="Ecuador inequality graph">
<br><h3>Egypt</h3>
<img src="/inequality_graphs/egypt.png" alt="Egypt inequality graph">
<br><h3>El Salvador</h3>
<img src="/inequality_graphs/el_salvador.png" alt="El Salvador inequality graph">
<br><h3>Equatorial Guinea</h3>
<img src="/inequality_graphs/equatorial_guinea.png" alt="Equatorial Guinea inequality graph">
<br><h3>Eritrea</h3>
<img src="/inequality_graphs/eritrea.png" alt="Eritrea inequality graph">
<br><h3>Estonia</h3>
<img src="/inequality_graphs/estonia.png" alt="Estonia inequality graph">
<br><h3>Ethiopia</h3>
<img src="/inequality_graphs/ethiopia.png" alt="Ethiopia inequality graph">
<br><h3>Finland</h3>
<img src="/inequality_graphs/finland.png" alt="Finland inequality graph">
<br><h3>France</h3>
<img src="/inequality_graphs/france.png" alt="France inequality graph">
<br><h3>Gabon</h3>
<img src="/inequality_graphs/gabon.png" alt="Gabon inequality graph">
<br><h3>Gambia</h3>
<img src="/inequality_graphs/gambia.png" alt="Gambia inequality graph">
<br><h3>Georgia</h3>
<img src="/inequality_graphs/georgia.png" alt="Georgia inequality graph">
<br><h3>Germany</h3>
<img src="/inequality_graphs/germany.png" alt="Germany inequality graph">
<br><h3>Ghana</h3>
<img src="/inequality_graphs/ghana.png" alt="Ghana inequality graph">
<br><h3>Greece</h3>
<img src="/inequality_graphs/greece.png" alt="Greece inequality graph">
<br><h3>Guatemala</h3>
<img src="/inequality_graphs/guatemala.png" alt="Guatemala inequality graph">
<br><h3>Guinea</h3>
<img src="/inequality_graphs/guinea.png" alt="Guinea inequality graph">
<br><h3>Guinea-Bissau</h3>
<img src="/inequality_graphs/guinea-bissau.png" alt="Guinea-Bissau inequality graph">
<br><h3>Guyana</h3>
<img src="/inequality_graphs/guyana.png" alt="Guyana inequality graph">
<br><h3>Haiti</h3>
<img src="/inequality_graphs/haiti.png" alt="Haiti inequality graph">
<br><h3>Honduras</h3>
<img src="/inequality_graphs/honduras.png" alt="Honduras inequality graph">
<br><h3>Hong Kong</h3>
<img src="/inequality_graphs/hong_kong.png" alt="Hong Kong inequality graph">
<br><h3>Hungary</h3>
<img src="/inequality_graphs/hungary.png" alt="Hungary inequality graph">
<br><h3>Iceland</h3>
<img src="/inequality_graphs/iceland.png" alt="Iceland inequality graph">
<br><h3>India</h3>
<img src="/inequality_graphs/india.png" alt="India inequality graph">
<br><h3>Indonesia</h3>
<img src="/inequality_graphs/indonesia.png" alt="Indonesia inequality graph">
<br><h3>Iran</h3>
<img src="/inequality_graphs/iran.png" alt="Iran inequality graph">
<br><h3>Iraq</h3>
<img src="/inequality_graphs/iraq.png" alt="Iraq inequality graph">
<br><h3>Ireland</h3>
<img src="/inequality_graphs/ireland.png" alt="Ireland inequality graph">
<br><h3>Israel</h3>
<img src="/inequality_graphs/israel.png" alt="Israel inequality graph">
<br><h3>Italy</h3>
<img src="/inequality_graphs/italy.png" alt="Italy inequality graph">
<br><h3>Jamaica</h3>
<img src="/inequality_graphs/jamaica.png" alt="Jamaica inequality graph">
<br><h3>Japan</h3>
<img src="/inequality_graphs/japan.png" alt="Japan inequality graph">
<br><h3>Jordan</h3>
<img src="/inequality_graphs/jordan.png" alt="Jordan inequality graph">
<br><h3>Kazakhstan</h3>
<img src="/inequality_graphs/kazakhstan.png" alt="Kazakhstan inequality graph">
<br><h3>Kenya</h3>
<img src="/inequality_graphs/kenya.png" alt="Kenya inequality graph">
<br><h3>Korea</h3>
<img src="/inequality_graphs/korea.png" alt="Korea inequality graph">
<br><h3>Kuwait</h3>
<img src="/inequality_graphs/kuwait.png" alt="Kuwait inequality graph">
<br><h3>Kyrgyzstan</h3>
<img src="/inequality_graphs/kyrgyzstan.png" alt="Kyrgyzstan inequality graph">
<br><h3>Lao PDR</h3>
<img src="/inequality_graphs/lao_pdr.png" alt="Lao PDR inequality graph">
<br><h3>Latvia</h3>
<img src="/inequality_graphs/latvia.png" alt="Latvia inequality graph">
<br><h3>Lebanon</h3>
<img src="/inequality_graphs/lebanon.png" alt="Lebanon inequality graph">
<br><h3>Lesotho</h3>
<img src="/inequality_graphs/lesotho.png" alt="Lesotho inequality graph">
<br><h3>Liberia</h3>
<img src="/inequality_graphs/liberia.png" alt="Liberia inequality graph">
<br><h3>Libya</h3>
<img src="/inequality_graphs/libya.png" alt="Libya inequality graph">
<br><h3>Lithuania</h3>
<img src="/inequality_graphs/lithuania.png" alt="Lithuania inequality graph">
<br><h3>Luxembourg</h3>
<img src="/inequality_graphs/luxembourg.png" alt="Luxembourg inequality graph">
<br><h3>Macao</h3>
<img src="/inequality_graphs/macao.png" alt="Macao inequality graph">
<br><h3>Madagascar</h3>
<img src="/inequality_graphs/madagascar.png" alt="Madagascar inequality graph">
<br><h3>Malawi</h3>
<img src="/inequality_graphs/malawi.png" alt="Malawi inequality graph">
<br><h3>Malaysia</h3>
<img src="/inequality_graphs/malaysia.png" alt="Malaysia inequality graph">
<br><h3>Maldives</h3>
<img src="/inequality_graphs/maldives.png" alt="Maldives inequality graph">
<br><h3>Mali</h3>
<img src="/inequality_graphs/mali.png" alt="Mali inequality graph">
<br><h3>Malta</h3>
<img src="/inequality_graphs/malta.png" alt="Malta inequality graph">
<br><h3>Mauritania</h3>
<img src="/inequality_graphs/mauritania.png" alt="Mauritania inequality graph">
<br><h3>Mauritius</h3>
<img src="/inequality_graphs/mauritius.png" alt="Mauritius inequality graph">
<br><h3>Mexico</h3>
<img src="/inequality_graphs/mexico.png" alt="Mexico inequality graph">
<br><h3>Moldova</h3>
<img src="/inequality_graphs/moldova.png" alt="Moldova inequality graph">
<br><h3>Mongolia</h3>
<img src="/inequality_graphs/mongolia.png" alt="Mongolia inequality graph">
<br><h3>Montenegro</h3>
<img src="/inequality_graphs/montenegro.png" alt="Montenegro inequality graph">
<br><h3>Morocco</h3>
<img src="/inequality_graphs/morocco.png" alt="Morocco inequality graph">
<br><h3>Mozambique</h3>
<img src="/inequality_graphs/mozambique.png" alt="Mozambique inequality graph">
<br><h3>Myanmar</h3>
<img src="/inequality_graphs/myanmar.png" alt="Myanmar inequality graph">
<br><h3>Namibia</h3>
<img src="/inequality_graphs/namibia.png" alt="Namibia inequality graph">
<br><h3>Nepal</h3>
<img src="/inequality_graphs/nepal.png" alt="Nepal inequality graph">
<br><h3>Netherlands</h3>
<img src="/inequality_graphs/netherlands.png" alt="Netherlands inequality graph">
<br><h3>New Zealand</h3>
<img src="/inequality_graphs/new_zealand.png" alt="New Zealand inequality graph">
<br><h3>Nicaragua</h3>
<img src="/inequality_graphs/nicaragua.png" alt="Nicaragua inequality graph">
<br><h3>Niger</h3>
<img src="/inequality_graphs/niger.png" alt="Niger inequality graph">
<br><h3>Nigeria</h3>
<img src="/inequality_graphs/nigeria.png" alt="Nigeria inequality graph">
<br><h3>North Korea</h3>
<img src="/inequality_graphs/north_korea.png" alt="North Korea inequality graph">
<br><h3>North Macedonia</h3>
<img src="/inequality_graphs/north_macedonia.png" alt="North Macedonia inequality graph">
<br><h3>Norway</h3>
<img src="/inequality_graphs/norway.png" alt="Norway inequality graph">
<br><h3>Oman</h3>
<img src="/inequality_graphs/oman.png" alt="Oman inequality graph">
<br><h3>Pakistan</h3>
<img src="/inequality_graphs/pakistan.png" alt="Pakistan inequality graph">
<br><h3>Palestine</h3>
<img src="/inequality_graphs/palestine.png" alt="Palestine inequality graph">
<br><h3>Panama</h3>
<img src="/inequality_graphs/panama.png" alt="Panama inequality graph">
<br><h3>Papua New Guinea</h3>
<img src="/inequality_graphs/papua_new_guinea.png" alt="Papua New Guinea inequality graph">
<br><h3>Paraguay</h3>
<img src="/inequality_graphs/paraguay.png" alt="Paraguay inequality graph">
<br><h3>Peru</h3>
<img src="/inequality_graphs/peru.png" alt="Peru inequality graph">
<br><h3>Philippines</h3>
<img src="/inequality_graphs/philippines.png" alt="Philippines inequality graph">
<br><h3>Poland</h3>
<img src="/inequality_graphs/poland.png" alt="Poland inequality graph">
<br><h3>Portugal</h3>
<img src="/inequality_graphs/portugal.png" alt="Portugal inequality graph">
<br><h3>Qatar</h3>
<img src="/inequality_graphs/qatar.png" alt="Qatar inequality graph">
<br><h3>Romania</h3>
<img src="/inequality_graphs/romania.png" alt="Romania inequality graph">
<br><h3>Russian Federation</h3>
<img src="/inequality_graphs/russian_federation.png" alt="Russian Federation inequality graph">
<br><h3>Rwanda</h3>
<img src="/inequality_graphs/rwanda.png" alt="Rwanda inequality graph">
<br><h3>Sao Tome and Principe</h3>
<img src="/inequality_graphs/sao_tome_and_principe.png" alt="Sao Tome and Principe inequality graph">
<br><h3>Saudi Arabia</h3>
<img src="/inequality_graphs/saudi_arabia.png" alt="Saudi Arabia inequality graph">
<br><h3>Senegal</h3>
<img src="/inequality_graphs/senegal.png" alt="Senegal inequality graph">
<br><h3>Serbia</h3>
<img src="/inequality_graphs/serbia.png" alt="Serbia inequality graph">
<br><h3>Seychelles</h3>
<img src="/inequality_graphs/seychelles.png" alt="Seychelles inequality graph">
<br><h3>Sierra Leone</h3>
<img src="/inequality_graphs/sierra_leone.png" alt="Sierra Leone inequality graph">
<br><h3>Singapore</h3>
<img src="/inequality_graphs/singapore.png" alt="Singapore inequality graph">
<br><h3>Slovakia</h3>
<img src="/inequality_graphs/slovakia.png" alt="Slovakia inequality graph">
<br><h3>Slovenia</h3>
<img src="/inequality_graphs/slovenia.png" alt="Slovenia inequality graph">
<br><h3>Somalia</h3>
<img src="/inequality_graphs/somalia.png" alt="Somalia inequality graph">
<br><h3>South Africa</h3>
<img src="/inequality_graphs/south_africa.png" alt="South Africa inequality graph">
<br><h3>South Sudan</h3>
<img src="/inequality_graphs/south_sudan.png" alt="South Sudan inequality graph">
<br><h3>Spain</h3>
<img src="/inequality_graphs/spain.png" alt="Spain inequality graph">
<br><h3>Sri Lanka</h3>
<img src="/inequality_graphs/sri_lanka.png" alt="Sri Lanka inequality graph">
<br><h3>Sudan</h3>
<img src="/inequality_graphs/sudan.png" alt="Sudan inequality graph">
<br><h3>Suriname</h3>
<img src="/inequality_graphs/suriname.png" alt="Suriname inequality graph">
<br><h3>Swaziland</h3>
<img src="/inequality_graphs/swaziland.png" alt="Swaziland inequality graph">
<br><h3>Sweden</h3>
<img src="/inequality_graphs/sweden.png" alt="Sweden inequality graph">
<br><h3>Switzerland</h3>
<img src="/inequality_graphs/switzerland.png" alt="Switzerland inequality graph">
<br><h3>Syrian Arab Republic</h3>
<img src="/inequality_graphs/syrian_arab_republic.png" alt="Syrian Arab Republic inequality graph">
<br><h3>Taiwan</h3>
<img src="/inequality_graphs/taiwan.png" alt="Taiwan inequality graph">
<br><h3>Tajikistan</h3>
<img src="/inequality_graphs/tajikistan.png" alt="Tajikistan inequality graph">
<br><h3>Tanzania</h3>
<img src="/inequality_graphs/tanzania.png" alt="Tanzania inequality graph">
<br><h3>Thailand</h3>
<img src="/inequality_graphs/thailand.png" alt="Thailand inequality graph">
<br><h3>Timor-Leste</h3>
<img src="/inequality_graphs/timor-leste.png" alt="Timor-Leste inequality graph">
<br><h3>Togo</h3>
<img src="/inequality_graphs/togo.png" alt="Togo inequality graph">
<br><h3>Trinidad and Tobago</h3>
<img src="/inequality_graphs/trinidad_and_tobago.png" alt="Trinidad and Tobago inequality graph">
<br><h3>Tunisia</h3>
<img src="/inequality_graphs/tunisia.png" alt="Tunisia inequality graph">
<br><h3>Turkey</h3>
<img src="/inequality_graphs/turkey.png" alt="Turkey inequality graph">
<br><h3>Turkmenistan</h3>
<img src="/inequality_graphs/turkmenistan.png" alt="Turkmenistan inequality graph">
<br><h3>USA</h3>
<img src="/inequality_graphs/usa.png" alt="USA inequality graph">
<br><h3>Uganda</h3>
<img src="/inequality_graphs/uganda.png" alt="Uganda inequality graph">
<br><h3>Ukraine</h3>
<img src="/inequality_graphs/ukraine.png" alt="Ukraine inequality graph">
<br><h3>United Arab Emirates</h3>
<img src="/inequality_graphs/united_arab_emirates.png" alt="United Arab Emirates inequality graph">
<br><h3>United Kingdom</h3>
<img src="/inequality_graphs/united_kingdom.png" alt="United Kingdom inequality graph">
<br><h3>Uruguay</h3>
<img src="/inequality_graphs/uruguay.png" alt="Uruguay inequality graph">
<br><h3>Uzbekistan</h3>
<img src="/inequality_graphs/uzbekistan.png" alt="Uzbekistan inequality graph">
<br><h3>Venezuela</h3>
<img src="/inequality_graphs/venezuela.png" alt="Venezuela inequality graph">
<br><h3>Viet Nam</h3>
<img src="/inequality_graphs/viet_nam.png" alt="Viet Nam inequality graph">
<br><h3>Yemen</h3>
<img src="/inequality_graphs/yemen.png" alt="Yemen inequality graph">
<br><h3>Zambia</h3>
<img src="/inequality_graphs/zambia.png" alt="Zambia inequality graph">
<br><h3>Zimbabwe</h3>
<img src="/inequality_graphs/zimbabwe.png" alt="Zimbabwe inequality graph">