
<style>
    .imgbox {
        display: grid;
        height: 100%;
    }
    
    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
        margin-top: 20px;
    }
</style>

<h2>Inequality Worldwide</h2>
<p>The <a href="https://wid.world/" target="_blank">World Inequality Database provides data</a> for almost all countries in the world concerning:
<ul>
    <li>The net worth distribution for the top 1%, top 10% and bottom 50%</li>
    <li>The pre-tax income distribution of the top 1%, top 10% and bottom 50%</li>
    <li>The women's share of the pre-tax income distribution</li>
</ul>
of the respective country.</p>
<h2>Graphs</h2>

<h3>Afghanistan</h3>
<div class="imgbox"><img src="/inequality_graphs/AF.png" alt="Afghanistan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Albania</h3>
<div class="imgbox"><img src="/inequality_graphs/AL.png" alt="Albania inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Algeria</h3>
<div class="imgbox"><img src="/inequality_graphs/DZ.png" alt="Algeria inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Angola</h3>
<div class="imgbox"><img src="/inequality_graphs/AO.png" alt="Angola inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Argentina</h3>
<div class="imgbox"><img src="/inequality_graphs/AR.png" alt="Argentina inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Armenia</h3>
<div class="imgbox"><img src="/inequality_graphs/AM.png" alt="Armenia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Australia</h3>
<div class="imgbox"><img src="/inequality_graphs/AU.png" alt="Australia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Austria</h3>
<div class="imgbox"><img src="/inequality_graphs/AT.png" alt="Austria inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Azerbaijan</h3>
<div class="imgbox"><img src="/inequality_graphs/AZ.png" alt="Azerbaijan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Bahamas</h3>
<div class="imgbox"><img src="/inequality_graphs/BS.png" alt="Bahamas inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Bahrain</h3>
<div class="imgbox"><img src="/inequality_graphs/BH.png" alt="Bahrain inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Bangladesh</h3>
<div class="imgbox"><img src="/inequality_graphs/BD.png" alt="Bangladesh inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Belgium</h3>
<div class="imgbox"><img src="/inequality_graphs/BE.png" alt="Belgium inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Belize</h3>
<div class="imgbox"><img src="/inequality_graphs/BZ.png" alt="Belize inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Benin</h3>
<div class="imgbox"><img src="/inequality_graphs/BJ.png" alt="Benin inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Bhutan</h3>
<div class="imgbox"><img src="/inequality_graphs/BT.png" alt="Bhutan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Bolivia</h3>
<div class="imgbox"><img src="/inequality_graphs/BO.png" alt="Bolivia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Bosnia and Herzegovina</h3>
<div class="imgbox"><img src="/inequality_graphs/BA.png" alt="Bosnia and Herzegovina inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Botswana</h3>
<div class="imgbox"><img src="/inequality_graphs/BW.png" alt="Botswana inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Brazil</h3>
<div class="imgbox"><img src="/inequality_graphs/BR.png" alt="Brazil inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Brunei Darussalam</h3>
<div class="imgbox"><img src="/inequality_graphs/BN.png" alt="Brunei Darussalam inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Bulgaria</h3>
<div class="imgbox"><img src="/inequality_graphs/BG.png" alt="Bulgaria inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Burkina Faso</h3>
<div class="imgbox"><img src="/inequality_graphs/BF.png" alt="Burkina Faso inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Burundi</h3>
<div class="imgbox"><img src="/inequality_graphs/BI.png" alt="Burundi inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Cabo Verde</h3>
<div class="imgbox"><img src="/inequality_graphs/CV.png" alt="Cabo Verde inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Cambodia</h3>
<div class="imgbox"><img src="/inequality_graphs/KH.png" alt="Cambodia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Cameroon</h3>
<div class="imgbox"><img src="/inequality_graphs/CM.png" alt="Cameroon inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Canada</h3>
<div class="imgbox"><img src="/inequality_graphs/CA.png" alt="Canada inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Central African Republic</h3>
<div class="imgbox"><img src="/inequality_graphs/CF.png" alt="Central African Republic inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Chad</h3>
<div class="imgbox"><img src="/inequality_graphs/TD.png" alt="Chad inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Chile</h3>
<div class="imgbox"><img src="/inequality_graphs/CL.png" alt="Chile inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>China</h3>
<div class="imgbox"><img src="/inequality_graphs/CN.png" alt="China inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Colombia</h3>
<div class="imgbox"><img src="/inequality_graphs/CO.png" alt="Colombia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Comoros</h3>
<div class="imgbox"><img src="/inequality_graphs/KM.png" alt="Comoros inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Congo</h3>
<div class="imgbox"><img src="/inequality_graphs/CG.png" alt="Congo inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Costa Rica</h3>
<div class="imgbox"><img src="/inequality_graphs/CR.png" alt="Costa Rica inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Cote d’Ivoire</h3>
<div class="imgbox"><img src="/inequality_graphs/CI.png" alt="Cote d’Ivoire inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Croatia</h3>
<div class="imgbox"><img src="/inequality_graphs/HR.png" alt="Croatia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Cuba</h3>
<div class="imgbox"><img src="/inequality_graphs/CU.png" alt="Cuba inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Cyprus</h3>
<div class="imgbox"><img src="/inequality_graphs/CY.png" alt="Cyprus inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Czech Republic</h3>
<div class="imgbox"><img src="/inequality_graphs/CZ.png" alt="Czech Republic inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>DR Congo</h3>
<div class="imgbox"><img src="/inequality_graphs/CD.png" alt="DR Congo inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Denmark</h3>
<div class="imgbox"><img src="/inequality_graphs/DK.png" alt="Denmark inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Djibouti</h3>
<div class="imgbox"><img src="/inequality_graphs/DJ.png" alt="Djibouti inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Dominican Republic</h3>
<div class="imgbox"><img src="/inequality_graphs/DO.png" alt="Dominican Republic inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Ecuador</h3>
<div class="imgbox"><img src="/inequality_graphs/EC.png" alt="Ecuador inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Egypt</h3>
<div class="imgbox"><img src="/inequality_graphs/EG.png" alt="Egypt inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>El Salvador</h3>
<div class="imgbox"><img src="/inequality_graphs/SV.png" alt="El Salvador inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Equatorial Guinea</h3>
<div class="imgbox"><img src="/inequality_graphs/GQ.png" alt="Equatorial Guinea inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Eritrea</h3>
<div class="imgbox"><img src="/inequality_graphs/ER.png" alt="Eritrea inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Estonia</h3>
<div class="imgbox"><img src="/inequality_graphs/EE.png" alt="Estonia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Ethiopia</h3>
<div class="imgbox"><img src="/inequality_graphs/ET.png" alt="Ethiopia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Finland</h3>
<div class="imgbox"><img src="/inequality_graphs/FI.png" alt="Finland inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>France</h3>
<div class="imgbox"><img src="/inequality_graphs/FR.png" alt="France inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Gabon</h3>
<div class="imgbox"><img src="/inequality_graphs/GA.png" alt="Gabon inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Gambia</h3>
<div class="imgbox"><img src="/inequality_graphs/GM.png" alt="Gambia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Georgia</h3>
<div class="imgbox"><img src="/inequality_graphs/GE.png" alt="Georgia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Germany</h3>
<div class="imgbox"><img src="/inequality_graphs/DE.png" alt="Germany inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Ghana</h3>
<div class="imgbox"><img src="/inequality_graphs/GH.png" alt="Ghana inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Greece</h3>
<div class="imgbox"><img src="/inequality_graphs/GR.png" alt="Greece inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Guatemala</h3>
<div class="imgbox"><img src="/inequality_graphs/GT.png" alt="Guatemala inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Guinea</h3>
<div class="imgbox"><img src="/inequality_graphs/GN.png" alt="Guinea inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Guinea-Bissau</h3>
<div class="imgbox"><img src="/inequality_graphs/GW.png" alt="Guinea-Bissau inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Guyana</h3>
<div class="imgbox"><img src="/inequality_graphs/GY.png" alt="Guyana inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Haiti</h3>
<div class="imgbox"><img src="/inequality_graphs/HT.png" alt="Haiti inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Honduras</h3>
<div class="imgbox"><img src="/inequality_graphs/HN.png" alt="Honduras inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Hong Kong</h3>
<div class="imgbox"><img src="/inequality_graphs/HK.png" alt="Hong Kong inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Hungary</h3>
<div class="imgbox"><img src="/inequality_graphs/HU.png" alt="Hungary inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Iceland</h3>
<div class="imgbox"><img src="/inequality_graphs/IS.png" alt="Iceland inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>India</h3>
<div class="imgbox"><img src="/inequality_graphs/IN.png" alt="India inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Indonesia</h3>
<div class="imgbox"><img src="/inequality_graphs/ID.png" alt="Indonesia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Iran</h3>
<div class="imgbox"><img src="/inequality_graphs/IR.png" alt="Iran inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Iraq</h3>
<div class="imgbox"><img src="/inequality_graphs/IQ.png" alt="Iraq inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Ireland</h3>
<div class="imgbox"><img src="/inequality_graphs/IE.png" alt="Ireland inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Israel</h3>
<div class="imgbox"><img src="/inequality_graphs/IL.png" alt="Israel inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Italy</h3>
<div class="imgbox"><img src="/inequality_graphs/IT.png" alt="Italy inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Jamaica</h3>
<div class="imgbox"><img src="/inequality_graphs/JM.png" alt="Jamaica inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Japan</h3>
<div class="imgbox"><img src="/inequality_graphs/JP.png" alt="Japan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Jordan</h3>
<div class="imgbox"><img src="/inequality_graphs/JO.png" alt="Jordan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Kazakhstan</h3>
<div class="imgbox"><img src="/inequality_graphs/KZ.png" alt="Kazakhstan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Kenya</h3>
<div class="imgbox"><img src="/inequality_graphs/KE.png" alt="Kenya inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Korea</h3>
<div class="imgbox"><img src="/inequality_graphs/KR.png" alt="Korea inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Kuwait</h3>
<div class="imgbox"><img src="/inequality_graphs/KW.png" alt="Kuwait inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Kyrgyzstan</h3>
<div class="imgbox"><img src="/inequality_graphs/KG.png" alt="Kyrgyzstan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Lao PDR</h3>
<div class="imgbox"><img src="/inequality_graphs/LA.png" alt="Lao PDR inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Latvia</h3>
<div class="imgbox"><img src="/inequality_graphs/LV.png" alt="Latvia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Lebanon</h3>
<div class="imgbox"><img src="/inequality_graphs/LB.png" alt="Lebanon inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Lesotho</h3>
<div class="imgbox"><img src="/inequality_graphs/LS.png" alt="Lesotho inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Liberia</h3>
<div class="imgbox"><img src="/inequality_graphs/LR.png" alt="Liberia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Libya</h3>
<div class="imgbox"><img src="/inequality_graphs/LY.png" alt="Libya inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Lithuania</h3>
<div class="imgbox"><img src="/inequality_graphs/LT.png" alt="Lithuania inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Luxembourg</h3>
<div class="imgbox"><img src="/inequality_graphs/LU.png" alt="Luxembourg inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Macao</h3>
<div class="imgbox"><img src="/inequality_graphs/MO.png" alt="Macao inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Madagascar</h3>
<div class="imgbox"><img src="/inequality_graphs/MG.png" alt="Madagascar inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Malawi</h3>
<div class="imgbox"><img src="/inequality_graphs/MW.png" alt="Malawi inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Malaysia</h3>
<div class="imgbox"><img src="/inequality_graphs/MY.png" alt="Malaysia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Maldives</h3>
<div class="imgbox"><img src="/inequality_graphs/MV.png" alt="Maldives inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Mali</h3>
<div class="imgbox"><img src="/inequality_graphs/ML.png" alt="Mali inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Malta</h3>
<div class="imgbox"><img src="/inequality_graphs/MT.png" alt="Malta inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Mauritania</h3>
<div class="imgbox"><img src="/inequality_graphs/MR.png" alt="Mauritania inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Mauritius</h3>
<div class="imgbox"><img src="/inequality_graphs/MU.png" alt="Mauritius inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Mexico</h3>
<div class="imgbox"><img src="/inequality_graphs/MX.png" alt="Mexico inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Moldova</h3>
<div class="imgbox"><img src="/inequality_graphs/MD.png" alt="Moldova inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Mongolia</h3>
<div class="imgbox"><img src="/inequality_graphs/MN.png" alt="Mongolia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Montenegro</h3>
<div class="imgbox"><img src="/inequality_graphs/ME.png" alt="Montenegro inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Morocco</h3>
<div class="imgbox"><img src="/inequality_graphs/MA.png" alt="Morocco inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Mozambique</h3>
<div class="imgbox"><img src="/inequality_graphs/MZ.png" alt="Mozambique inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Myanmar</h3>
<div class="imgbox"><img src="/inequality_graphs/MM.png" alt="Myanmar inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Namibia</h3>
<div class="imgbox"><img src="/inequality_graphs/NA.png" alt="Namibia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Nepal</h3>
<div class="imgbox"><img src="/inequality_graphs/NP.png" alt="Nepal inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Netherlands</h3>
<div class="imgbox"><img src="/inequality_graphs/NL.png" alt="Netherlands inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>New Zealand</h3>
<div class="imgbox"><img src="/inequality_graphs/NZ.png" alt="New Zealand inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Nicaragua</h3>
<div class="imgbox"><img src="/inequality_graphs/NI.png" alt="Nicaragua inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Niger</h3>
<div class="imgbox"><img src="/inequality_graphs/NE.png" alt="Niger inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Nigeria</h3>
<div class="imgbox"><img src="/inequality_graphs/NG.png" alt="Nigeria inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>North Korea</h3>
<div class="imgbox"><img src="/inequality_graphs/KP.png" alt="North Korea inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>North Macedonia</h3>
<div class="imgbox"><img src="/inequality_graphs/MK.png" alt="North Macedonia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Norway</h3>
<div class="imgbox"><img src="/inequality_graphs/NO.png" alt="Norway inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Oman</h3>
<div class="imgbox"><img src="/inequality_graphs/OM.png" alt="Oman inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Pakistan</h3>
<div class="imgbox"><img src="/inequality_graphs/PK.png" alt="Pakistan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Palestine</h3>
<div class="imgbox"><img src="/inequality_graphs/PS.png" alt="Palestine inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Panama</h3>
<div class="imgbox"><img src="/inequality_graphs/PA.png" alt="Panama inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Papua New Guinea</h3>
<div class="imgbox"><img src="/inequality_graphs/PG.png" alt="Papua New Guinea inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Paraguay</h3>
<div class="imgbox"><img src="/inequality_graphs/PY.png" alt="Paraguay inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Peru</h3>
<div class="imgbox"><img src="/inequality_graphs/PE.png" alt="Peru inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Philippines</h3>
<div class="imgbox"><img src="/inequality_graphs/PH.png" alt="Philippines inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Poland</h3>
<div class="imgbox"><img src="/inequality_graphs/PL.png" alt="Poland inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Portugal</h3>
<div class="imgbox"><img src="/inequality_graphs/PT.png" alt="Portugal inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Qatar</h3>
<div class="imgbox"><img src="/inequality_graphs/QA.png" alt="Qatar inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Romania</h3>
<div class="imgbox"><img src="/inequality_graphs/RO.png" alt="Romania inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Russian Federation</h3>
<div class="imgbox"><img src="/inequality_graphs/RU.png" alt="Russian Federation inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Rwanda</h3>
<div class="imgbox"><img src="/inequality_graphs/RW.png" alt="Rwanda inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Sao Tome and Principe</h3>
<div class="imgbox"><img src="/inequality_graphs/ST.png" alt="Sao Tome and Principe inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Saudi Arabia</h3>
<div class="imgbox"><img src="/inequality_graphs/SA.png" alt="Saudi Arabia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Senegal</h3>
<div class="imgbox"><img src="/inequality_graphs/SN.png" alt="Senegal inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Serbia</h3>
<div class="imgbox"><img src="/inequality_graphs/RS.png" alt="Serbia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Seychelles</h3>
<div class="imgbox"><img src="/inequality_graphs/SC.png" alt="Seychelles inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Sierra Leone</h3>
<div class="imgbox"><img src="/inequality_graphs/SL.png" alt="Sierra Leone inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Singapore</h3>
<div class="imgbox"><img src="/inequality_graphs/SG.png" alt="Singapore inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Slovakia</h3>
<div class="imgbox"><img src="/inequality_graphs/SK.png" alt="Slovakia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Slovenia</h3>
<div class="imgbox"><img src="/inequality_graphs/SI.png" alt="Slovenia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Somalia</h3>
<div class="imgbox"><img src="/inequality_graphs/SO.png" alt="Somalia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>South Africa</h3>
<div class="imgbox"><img src="/inequality_graphs/ZA.png" alt="South Africa inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>South Sudan</h3>
<div class="imgbox"><img src="/inequality_graphs/SS.png" alt="South Sudan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Spain</h3>
<div class="imgbox"><img src="/inequality_graphs/ES.png" alt="Spain inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Sri Lanka</h3>
<div class="imgbox"><img src="/inequality_graphs/LK.png" alt="Sri Lanka inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Sudan</h3>
<div class="imgbox"><img src="/inequality_graphs/SD.png" alt="Sudan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Suriname</h3>
<div class="imgbox"><img src="/inequality_graphs/SR.png" alt="Suriname inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Swaziland</h3>
<div class="imgbox"><img src="/inequality_graphs/SZ.png" alt="Swaziland inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Sweden</h3>
<div class="imgbox"><img src="/inequality_graphs/SE.png" alt="Sweden inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Switzerland</h3>
<div class="imgbox"><img src="/inequality_graphs/CH.png" alt="Switzerland inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Syrian Arab Republic</h3>
<div class="imgbox"><img src="/inequality_graphs/SY.png" alt="Syrian Arab Republic inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Taiwan</h3>
<div class="imgbox"><img src="/inequality_graphs/TW.png" alt="Taiwan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Tajikistan</h3>
<div class="imgbox"><img src="/inequality_graphs/TJ.png" alt="Tajikistan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Tanzania</h3>
<div class="imgbox"><img src="/inequality_graphs/TZ.png" alt="Tanzania inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Thailand</h3>
<div class="imgbox"><img src="/inequality_graphs/TH.png" alt="Thailand inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Timor-Leste</h3>
<div class="imgbox"><img src="/inequality_graphs/TL.png" alt="Timor-Leste inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Togo</h3>
<div class="imgbox"><img src="/inequality_graphs/TG.png" alt="Togo inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Trinidad and Tobago</h3>
<div class="imgbox"><img src="/inequality_graphs/TT.png" alt="Trinidad and Tobago inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Tunisia</h3>
<div class="imgbox"><img src="/inequality_graphs/TN.png" alt="Tunisia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Turkey</h3>
<div class="imgbox"><img src="/inequality_graphs/TR.png" alt="Turkey inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Turkmenistan</h3>
<div class="imgbox"><img src="/inequality_graphs/TM.png" alt="Turkmenistan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>USA</h3>
<div class="imgbox"><img src="/inequality_graphs/US.png" alt="USA inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Uganda</h3>
<div class="imgbox"><img src="/inequality_graphs/UG.png" alt="Uganda inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Ukraine</h3>
<div class="imgbox"><img src="/inequality_graphs/UA.png" alt="Ukraine inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>United Arab Emirates</h3>
<div class="imgbox"><img src="/inequality_graphs/AE.png" alt="United Arab Emirates inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>United Kingdom</h3>
<div class="imgbox"><img src="/inequality_graphs/GB.png" alt="United Kingdom inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Uruguay</h3>
<div class="imgbox"><img src="/inequality_graphs/UY.png" alt="Uruguay inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Uzbekistan</h3>
<div class="imgbox"><img src="/inequality_graphs/UZ.png" alt="Uzbekistan inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Venezuela</h3>
<div class="imgbox"><img src="/inequality_graphs/VE.png" alt="Venezuela inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Viet Nam</h3>
<div class="imgbox"><img src="/inequality_graphs/VN.png" alt="Viet Nam inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Yemen</h3>
<div class="imgbox"><img src="/inequality_graphs/YE.png" alt="Yemen inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Zambia</h3>
<div class="imgbox"><img src="/inequality_graphs/ZM.png" alt="Zambia inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>
<h3>Zimbabwe</h3>
<div class="imgbox"><img src="/inequality_graphs/ZW.png" alt="Zimbabwe inequality graph" class="center-fit" onclick="enlargeImage(this)"></div><br><br><br>