{{> welcome-menu id="signup"}}

<div class="col-3">
    <h3>Signup</h3>
    <form action="/register" method="POST">
        <div class="mb-3">
            <label for="inputFirstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="inputFirstName" name="first_name">
        </div>
        <div class="mb-3">
            <label for="inputLastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="inputLastName" name="last_name">
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{{> footer }}